body {
  background-color: whitesmoke;
  padding: 0px 20px 0px 20px;
}

h1,
h2 {
  text-align: center;
  font-size: 30px;
}

h1 {
  color: #33c3f0;
  font-size: 40px;
}

#contenido {
  margin-top: 40px;
}
.delete-to-do {
  float: right;
  cursor: pointer;
  color: #fff;
  padding: 1px 5px;
  border-radius: 5px;
  background-color: red;
  font-weight: bold;
}

.delete-to-do:hover {
  color: #222;
}

.edit-to-do,
edit-to-do:hover {
    
  cursor: pointer;
  margin: 0px 3px;
  padding: 1px 9px;
  border-radius: 5px;
  float: right;
  color: #fff;
  background-color: #33c3f0;
  font-weight: bold;
}
.do {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: transparent;
  background: transparent;
  margin: 0px 10px 0px 10px;
  font-weight: bold;
  width: 60%;
  height: 15px;
  transition: all .3s;
}

.div-button {
  margin: auto;
  float: unset;
}

.do-focus {
  border-color: #c6e48b;
}

li {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

@media (max-width: 907px) {
  .do {
    width: 50%;
  }
  .edit-to-do {
    font-size: 12px;
  }
  .delete-to-do {
    font-size: 12px;
  }
  h1 {
    font-size: 35px;
  }
}

.save{
    background: #c6e48b;
    padding: 1px 9px;
}

.save:hover{
    color: green;
}
